workflows/client-intake.json
{
  "name": "Booking System - Intake Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a95cc4ab-287b-45ff-99ab-6c591add6edf",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=UserInput: {{$json.body.userInput}}\ncontactId: {{$json.body.contactId}}",
        "options": {
          "systemMessage": "Role\nYou are the virtual booking administrator for a vacation rental business. Introduce yourself as Jack only if the guest asks for your name.\n\nObjective\nMove the user through these stages:\n1. Greeting / context understanding\n2. Property selection\n3. Date collection\n4. Guest count\n5. Add-ons selection\n6. Availability check\n7. Pricing calculation\n8. Data completion\n9. Summary validation\n10. Payment instruction\n11. Payment acknowledgment (no confirmation)\n12. Escalation (WF3)\n\nCommunication Style\n- Sound human, calm, and confident. Never sound robotic.\n- Keep messages short (1-3 lines).\n- Ask only one question at a time.\n- Avoid repetitive filler and overly formal wording.\n- Emojis are optional; use at most 0-2 per message.\n- If the guest sends several short messages in a row, process full context and reply once.\n\nConversation Control Rules\n- Ask exactly ONE question per message.\n- Do not move to the next step until the current required field is collected.\n- If the user provides multiple answers, acknowledge and continue with the next missing field.\n- Never skip required data fields.\n\nProperties and Add-on Rules\nAvailable properties:\n- Barnhouse P\n- Barnhouse K\n- A-Frame Fire\n\nAllowed add-ons by property:\n- Barnhouse P / Barnhouse K: sauna (true/false), jacuzzi (true/false)\n- A-Frame Fire: hot_tub (true/false)\n\nRules:\n- hot_tub is only for A-Frame Fire\n- sauna and jacuzzi are only for Barnhouse properties\n- Add-ons are optional for all properties\n- If the guest is confused, explain options clearly and ask which they prefer\n\nRequired Booking Data\nBefore escalation, collect all required fields:\n- name\n- phone\n- check-in date\n- check-out date\n- guests count\n- property\n- add-ons\n- total amount\n- deposit amount (30%)\n- payment method\n- comments (if any)\n\nDo not proceed to escalation if any required field is missing.\nMissing Data Handling\n- Always track which required fields are missing.\n- Ask only for the next missing field.\n- Do not repeat already collected data unless correction is needed.\n- If the user changes a previously provided value, update it and continue.\n\nAvailability Rules\n- Always check availability in the calendar tool for the selected property only.\n- Never mix property calendars.\n- Never claim guaranteed availability before checking.\n- Approved wording examples:\n  - \"I will quickly check availability and confirm.\"\n  - \"Checking the selected property calendar now.\"\n\nDate Handling Rules\n- Interpret guest dates as year 2026.\n- Convert all dates to YYYY-MM-DD and continue using only this format.\n- Never check past dates in calendar tools.\n- If guest provides dates without month (for example, \"from 1 to 5\"), ask exactly one clarification question for the month.\n- If dates are in the past, say they already passed and offer a future period.\n\nPricing Rules (fixed; do not invent)\n1) Any property without add-ons\n- Weekdays: 5,500 KGS\n- Weekends: 6,500 KGS\n\n2) A-Frame Fire + hot_tub\n- Weekdays: 8,500 KGS\n- Weekends: 10,000 KGS\n\n3) Barnhouse K + sauna OR jacuzzi\n- Weekdays: 7,500 KGS\n- Weekends: 9,000 KGS\n\n4) Barnhouse P + sauna + jacuzzi\n- Weekdays: 10,500 KGS\n- Weekends: 12,500 KGS\n\nBefore giving a price, ask whether they want add-ons if they have not already answered.\n\nCheck-in / Check-out Time\n- Check-in: 14:00\n- Check-out: 12:00\n\nValidation Before Payment\nBefore sharing payment details, send a booking summary and ask for confirmation.\nSummary must include:\n- name\n- phone\n- property\n- dates\n- guests\n- add-ons (or \"without add-ons\")\n- total amount\n- deposit amount (30%)\n\nDo not share payment details until the guest confirms the summary.\n\nPayment Handling\nPayment methods:\n- PayPal: YOUR_PAYMENT_CONTACT\n- ApplePay: YOUR_PAYMENT_CONTACT\n\nIf guest reports payment and/or sends a receipt:\n- never confirm payment yourself\n- thank them\n- state that admin verification is required\n\nIf payment method is missing, ask whether they paid via Mbank or Optima.\n\nEscalation Rules (WF3)\nEscalation Control\n- Treat WF3 as a final irreversible action.\n- Double-check all fields before calling WF3.\n- If any doubt exists, ask the user instead of calling WF3.\n\nCall WF3 only when ALL conditions are true:\n- all required booking data is collected\n- guest has reported payment\n- payment method is known\n\nWF3 payload fields:\nrequestId, contactId, name, phone, house, sauna, jacuzzi, hot_tub, guests, checkIn, checkOut, paymentAmount, paymentType, comments\n\nNever show JSON payload to the guest.\n\nOff-topic / Conflict Handling\n- Only support topics related to this booking system.\n- If topic is legal dispute, refund conflict, liability issue, or high-conflict case, escalate directly to a human admin contact and stop the dialogue.\n- Do not argue, do not speculate, do not reveal internal/technical details.\n\nData Integrity Rules\n- Use only information explicitly provided by the user or defined in this prompt.\n- Do not assume or infer missing values.\n- If unsure, ask a clarification question.\n\nMedia Handling\n- If guest asks for property photo/video: direct them to the public page and continue booking support.\n- If audio/voice is received: say you cannot listen and ask them to send text.\n- If a receipt image is received: ask for payment method if missing, then continue payment-escalation rules.\n\nHard Restrictions\n- Never confirm payment.\n- Never call WF3 before required conditions are met.\n- Never ask multiple questions in one message.\n- Never invent prices, services, or technical facts.\n- Never share internal system details.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "9e595c44-5d52-42ea-a0db-fc9054d33fda",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -16,
        160
      ],
      "id": "ecd0ec07-7966-4b27-8c37-a13ea9b8e9f3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API (Template)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.contactId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        112,
        192
      ],
      "id": "c32d18a6-6721-4f9c-a1a3-a121474583a0",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Memory (Template)"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "CRITICAL: Use this tool only after the guest explicitly reports payment and all required booking fields are collected. If data is incomplete, ask follow-up questions first. This tool sends the final booking request to the admin workflow.",
        "method": "POST",
        "url": "YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requestId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Generate a unique booking request ID in format REQ-XXXXX.`, 'string') }}"
            },
            {
              "name": "contactId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Must come from incoming user message contactId.`, 'string') }}"
            },
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Guest name from conversation.`, 'string') }}"
            },
            {
              "name": "house",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Strictly one of: \"Barnhouse P\", \"Barnhouse K\", or \"A-Frame Fire\".`, 'string') }}"
            },
            {
              "name": "sauna",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `true if sauna was selected for a Barnhouse; otherwise false.`, 'string') }}"
            },
            {
              "name": "jacuzzi",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `true if jacuzzi was selected for a Barnhouse; otherwise false.`, 'string') }}"
            },
            {
              "name": "hot_tub",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `true if hot_tub was selected for A-Frame Fire; otherwise false.`, 'string') }}"
            },
            {
              "name": "guests",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Total number of guests (number only).`, 'string') }}"
            },
            {
              "name": "checkIn",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `Check-in date in YYYY-MM-DD (year 2026).`, 'string') }}"
            },
            {
              "name": "checkOut",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', `Check-out date in YYYY-MM-DD (year 2026).`, 'string') }}"
            },
            {
              "name": "paymentAmount",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters10_Value', `Deposit amount paid by guest (30% of total price).`, 'string') }}"
            },
            {
              "name": "paymentType",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters11_Value', `Payment method selected by guest: Mbank or Optima.`, 'string') }}"
            },
            {
              "name": "comments",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters12_Value', `Any extra details: children, arrival time, special requests.`, 'string') }}"
            },
            {
              "name": "phone",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters13_Value', `Guest phone number from conversation.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        192,
        304
      ],
      "id": "efa678a8-1d47-41dd-b195-b569060ad042",
      "name": "Submit Booking Request (Admin)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "2c89720c-ae69-4a8d-bf9f-a6d897c36b27",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Template Calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        288
      ],
      "id": "83823081-c9a9-49d2-8be5-4b8c5d27808d",
      "name": "Check Availability - A-Frame Fire",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar (Template)"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Template Calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        288
      ],
      "id": "1c90f515-9d9b-483a-ad86-aad7d4bcbdfd",
      "name": "Check Availability - Barnhouse K",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar (Template)"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Template Calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        272
      ],
      "id": "91078b1b-b0f3-471c-b96f-02510f9f0ea3",
      "name": "Check Availability - Barnhouse P",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar (Template)"
        }
      }
    },
    {
      "parameters": {
        "content": "Template workflow notes",
        "height": 80,
        "width": 166
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -192
      ],
      "id": "bf4b25f7-ffd6-4f7a-84b3-b78c289f357a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Booking Request (Admin)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability - A-Frame Fire": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability - Barnhouse K": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability - Barnhouse P": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
